
@import url('https://fonts.googleapis.com/css?family=Tomorrow:500&display=swap');

body{
	font-size: 12px;
	text-align: center;
	font-family: 'Tomorrow', sans-serif;
}

.Impressoras{
	color: red;
}

table{
	border-collapse: collapse;
	float: left;
	margin: 10px;
 	border-radius: 1em;
  	overflow: hidden;
}

th, td{
	padding: 0.5em;
	background: LightGrey;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}

td{
	color: black;
	font-weight: bold;
}

th{
	color: #00FF00;
	background-color: black;
}